
openapi: 3.1.0
info:
  title: SmartEdify - User Profiles Service
  version: '2.2'
  description: API para gestionar perfiles funcionales, membresías, roles, consentimientos y delegaciones en SmartEdify.
  contact:
    email: arquitectura@smartedify.global
servers:
  - url: https://api.smartedify.global/user-profiles
    description: Servidor de producción
paths:
  /v1/profiles/{profile_id}:
    get:
      summary: Obtener perfil de usuario
      description: Devuelve el perfil completo incluyendo membresías, roles y consentimientos.
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Perfil encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
  /v1/profiles/{profile_id}/memberships:
    get:
      summary: Listar membresías de un perfil
      responses:
        '200':
          description: Lista de membresías
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Membership'
components:
  schemas:
    Profile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        condominiumId:
          type: string
          format: uuid
        email:
          type: string
        phone:
          type: string
        fullName:
          type: string
        status:
          type: string
        countryCode:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Membership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        condominiumId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        relation:
          type: string
        privileges:
          type: object
        responsibleProfileId:
          type: string
          format: uuid
        since:
          type: string
          format: date-time
        until:
          type: string
          format: date-time
        status:
          type: string
    Problem:
      type: object
      description: RFC 7807 Problem Details
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
securitySchemes:
  bearerAuth:
    type: http
    scheme: bearer
    bearerFormat: JWT
  dpop:
    type: http
    scheme: dpop
security:
  - bearerAuth: []
  - dpop: []
